# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next
out
build

# Env
.env
.env.local
.env.production

# OS
.DS_Store

# Logs
logs
*.log

# Turbopack / Cache
.turbo
.cache

# TypeScript build info
*.tsbuildinfo

# Vercel
.vercel

# IDEs
.vscode
.idea

# Coverage (if you ever add tests)
coverage
